/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('./app/assets/img/fondo.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

app-root {
    max-width: 600px;
    width: 100%;
    background: #fff;
    min-height: 100vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
